body{
    background-color: black;
}
.gif{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    background-color: #ffffff;
    text-align: center;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-decoration: dashed;
    display: inline-block;
    font-size: 16px;
    margin: 20px 20px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow:  0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }