* {
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
  }
  body {
    background: #a8a8a8;
  }
.portada{
  position: fixed;
  float: left;
  height: 30em;
  width: 30em;
  margin-top: 10em;
  margin-left: 8em;
}
.portada2{
  position: relative;
  float: left;
  height: 35em;
  width: 30em;
  margin-top: 7.5em;
  margin-left: 38em;
}
.titulo{
  position: fixed;
  margin-top: 12em;
  margin-left: 75em;
  text-align: center;
}
.botones{
  position: fixed;
  margin-top: 2em;
  margin-left: 82em;
  text-align: center;
}
.btn-gray{
  background-color: #000000;
  text-align: center;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: dashed;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow:  0 8px 16px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-gray:hover{
  box-shadow:  0 12px 16px 0 rgba(0, 0, 0, 0.24),
  0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.descripcion{
  position: relative;
}
.redes{
  position: fixed;
  margin-top: 22em;
  margin-left: 85em;
  text-align: center;
}
.red{
  width: 2.5em;
  height: 2em;
  text-align: center;
}
.bloque{
  position: fixed;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}