* {
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
  }
  body {
    background: #a8a8a8;
  }
.portada{
  position: absolute;
  float: left;
  height: 25em;
  width: 25em;
  margin-top: 15em;
  margin-left: 8em;
}
.portada2{
  position: relative;
  float: right;
  height: 30em;
  width: 25em;
  margin-top: 12.5em;
  margin-right: 46em;
}
.titulo{
  position: fixed;
  margin-top: 25em;
  margin-left: 65em;
  text-align: center;
}
.botones{
  position: fixed;
  margin-top: 25em;
  margin-left: 65em;
  text-align: center;
}
.descripcion{
  position: relative;
}
.redes{
  position: fixed;
  margin-top: 31em;
  margin-left: 75.7em;
  text-align: center;
}
.red{
  width: 2.5em;
  height: 2em;
  text-align: center;
}
