body{
    background-image: url("fondo-pag-principal.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;

}

.bloque{

    position: absolute;
    text-align: center;
    margin-left: 40em;
    margin-top: 30em;
    border: solid 2.5em;
    border-style: groove;
}