/*body{
    background-color: lightblue;
}
/*div{
 background-color: lightblue;
 width: auto;
 height: auto;
}
/*#BarraTareas{
    background-color: rebeccapurple;
    width: 1840px; 
    height: 80px;
    border-style:solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
}