body{
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    list-style: none;
    padding: 0;
    background: rgb(85, 143, 184);
    width: 120%;
    margin: auto;
    margin-left: -5%;
    margin-top: -0.5%;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
.menu li a:hover{
    background: rgb(46, 83, 109);
}
.separador{
    margin-left: 20%;
}
.logo{
    margin-left: 13%;
    position: absolute;
}
.buscador{
    padding: 0.75em;
    margin-left: 5%;
}
.boton{
    margin-left: 40%;
    padding: 0.75em;
    border-radius: 0.5em;
    background: rgb(32, 59, 78);
    color: white;
}
.cuenta{
    margin-left: 10%;
}
.mid{
    margin-left: 30%;
}
.pie{
    padding: 1.25em;
    width: 45em;
}