body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
}

h1{
    text-align: center;
    background-color: rgb(7, 245, 165);
    font-size: 40px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
#right{
    float: right;
    width: 45%;
    padding: 15px;
    background-color: aqua;
    border: solid;
    height: 700px;
    overflow: auto;
    margin-bottom: 15px;
}
p{
    font-size: medium;
}

input{
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: black;
}

input:hover{
    border: solid rgb(100, 100, 1000) 3px;
    background-color: skyblue;
}
#left{
    float: left;
    width: 40%;
    padding: 15px;
    background-color: blueviolet;
    border: solid;
    height: 700px;
    overflow: auto;
    margin-bottom: 15px;
}
#display{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
}