body{
    background-color: #f5c2ff;
}
.bloquepadre{
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.foto{
    width: 80em;
    height: 60em;
    box-sizing: content-box;
    margin-left: -0.5em;
    margin-top: -0.5em;
}
.chupachups{
    position: absolute;
    box-sizing: content-box;
    margin-left: 81.5em;
    margin-top: -28em;
}
.bloque{
    position: absolute;
    margin-left: 87.5em;
    margin-top: 0em;
    padding: 2em;
    background:#f5a6dd;
    margin-bottom:1.875em;
    line-height:1.625em !important;    
    text-align: center;
}