body{
    background-color: rgb(0, 0, 0);
}
.bloque{
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.barradetareas{
    width: 100%;    
    border: 1em solid rgb(245, 121, 183);
}
.barra{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}  
.li{
    float:right;
    width: 7em;
    height: 5em;
} 
li a {
    display: block;
    color: rgb(197, 0, 154);
    text-align: center;
    padding: 2em 2.1em;
    text-decoration:dashed;

}  
li a:hover {
    background-color: #111;
}
.logo{
    position: absolute;
    height: 10em;
    width: 10em;
    margin-top: 5em;
    margin-left: 2.5em;
}
.carrito{
    width: 10em;
    height: 10em;
    margin-top: -2.3em;
    margin-left: -2em;
}
.Galletas{
    margin-top: 50em;
    margin-left: 6em;
    border: 0.5em solid rgb(245, 121, 183);
    position: absolute;
}
.Zumos{
    border: 0.5em solid rgb(245, 121, 183);
    position: absolute;
    margin-top: 50em;
    margin-left: 44.5em;
}

.Chuches{
    border: 0.5em solid rgb(245, 121, 183);
    position: absolute;
    margin-top: 50em;
    margin-left: 83em;
}
.foto{
    height: 20em;
    width: 25em;
}